@charset "UTF-8";

body {
      background: -webkit-linear-gradient(left,#001135,#003362 );
}

.header-main {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #001135
}

.nav-link:hover {
  color: #ffae00;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.logo {
    color: #fff;
    font-size: 25px;
    font-weight: 600
}

.brand-wrap {
    text-decoration: none !important
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px
}

.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.widget-header .notify {
    position: absolute;
    top: -3px;
    right: -10px
}

.notify {
    position: absolute;
    top: -4px;
    right: -10px;
    display: inline-block;
    padding: .25em .6em;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    border-radius: 3rem;
    color: #fff;
    background-color: #fa3434
}

.mr-3,
.mx-3 {
    margin-right: 1rem !important
}

.search-form {
	margin-left:100px;
    border: 1px solid #ffffff !important
}

@media (max-width: 1100px) {
	.search-form {
     margin-left:0px;
    border: 1px solid #ffffff !important
	}
	
}   

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 3;
}


.search-button {
    color: #007bff;
    background-color: #ffffff;
    border-color: #ffffff
}

.navbar-main {
    background-color: #003362
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1) !important
}

.navbar-toggler {
    padding: 4px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.37rem
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .5rem 7px 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .45rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.navbar-toggler-icon {
    background-image: url(https://img.icons8.com/ios/50/000000/menu.png)
}

.nav-link {
    text-transform: uppercase;
    font-weight: 400;
    color:white
}


.navbar-nav > li{
  margin-left:50px;
  margin-right:50px;
}


.vl {
    border-left: 1px solid #fff;
    height: 100%
}

.fas {
    color: #fff
}

.login {
    color: white
}









thead{
	border-radius:25px;
	 background-color: #ffae00;
}

.table{
	   border-radius:45px;
	width:70%;
	box-shadow:-30px 30px 20px rgba(0,0,0,0.3);
		text-align:center;
	
  
	margin-bottom:110px;
	margin-left:auto;
	margin-right:auto;
}
th{
	color:white;
}









.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}



.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}




.line{
	  width:95%;
    border: 1px solid;
    border-color: #ffc107;
	margin-top:33px;
	margin-bottom:43px;
}



ul#partner li {
  display:inline;
}
ul#social li {
  display:inline;
}
.nasaimg{
	margin-left:-10px;
}


.container{
	margin-top:30px;
	margin-bottom:30px;
}

.bottom_border{
	margin-top:-15px;
	margin-bottom:-15px;
}


h4{
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 550;
	text-align:center;

background: #FFFFFF;

}



@media (max-width: 1050px) {
	.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
	}
}   	


#dropdown6{

	 display: flex;
      justify-content: center;
}



@media (max-width: 767px) {
	#dropdown6{
	
	 display: flex;
      justify-content: start;
	
		}
	
	
}   
